.form__container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    color: #000;
    padding-top: 60px;

        .form-img{
            padding: 30px;

        img{
            max-width: 150px;
            margin: auto;
            background-color: #0096a1;
            border-radius: 30%;
            padding: 10px;
        }
    }

    .form {
        min-width: 400px;
        text-align: center;
        padding: 30px;
        font-size: 30px;
        color: #000;

            

            .form__section {
                padding: 10px;
                color: #000;

                label{
                    color: #5f6b6e;
                    font-size: 20px;
                }

                .form__input::placeholder {
                    color: #5f6b6e;
                    font-size: 20px;
                }

                .form__input {
                    width: 100%;
                    padding: 7px;
                    margin: 9px 0;
                    border: none;
                    border-bottom: 3px solid #0096a1;
                    background: transparent;
                    color: #000;
                    font-size: 20px;
                }

                .form__input:focus{
                    background: linear-gradient(to bottom, transparent, #0096a1);
                    outline: none;
                    border-bottom: 3px solid #5f6b6e;
                }

                select {
                    min-width: 265px;
                    min-height: 45px;
                    border: 3px solid #0096a1;
                    background-color: #5f6b6e;
                    color: #fff;
                    text-align: center;
                    font-size: 20px;
                }

                textarea{
                    min-height: 150px;
                    resize: none;
                }

                input[type="submit"]{
                    background-color: #0096a1;
                    border: none;
                    padding: 15px;              
                }

                input[type="submit"]:hover{
                    background: #5f4ff7;
                }

                input[type="submit"]:active{
                    background: linear-gradient(to bottom, #a197ff, #5f4ff7);
                }

                textarea:focus, input:focus{
                    color: #000;
                }
            }

        @media screen and (min-width: 100px) and (max-width: 799px){

            .form-img img {
                width: 100px;
            }
        }
    }
}
